* {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to left bottom, #001cb9, #006bf2, #00a1f8, #00d0e0, #46fac8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#ffffff;
  }

  h3 {
    font-size:1.2rem;
    padding: 4rem;
    margin:1rem 0;
    text-align: center;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
    width: 100%;
    background-image: linear-gradient(to right top, #001cb9, #006bf2, #00a1f8, #00d0e0, #46fac8);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0px 0 rgba(45, 60, 70, 0.5);
    margin: 0 0 5em;

}

.icons .card {
  height:6rem;
  width: 6rem;
  margin: 0.2rem 0.2rem;
  background: #343434;
  box-shadow: 10px 10px 25px 0px 0rgba(45, 60, 70, 0.5);
  font-size:0;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rbga(46, 61, 73, 0.5);
}


.card.open {
  transform: rotateY(180deg);
  background: #02b3e4;
  cursor: default;
  animation-name: flipInX;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: .75s;
}

.card.show {
  font-size: 33px;
}


.card.match {
  cursor: default;
  background: #46fac8;
  font-size: 30px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visable !important;
  backface-visibility: visible !important;
  animation-duration: .50s;
}

.card.unmatched {
  animation-name: tada;
  -webkit-backface-visibility: visable !important;
  backface-visibility: visible !important;
  animation-duration: .50s;
  background: #ff9b83;
}
 
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}
  
  nav a {
    line-height: 4rem;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }


  @keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


@media (max-width: 320px) {
    .deck {
        width: 85%;
    }

    .deck .card {
        height: 4.7rem;
        width: 4.7rem;
    }
}

@media (min-width: 768px) {
    .container {
        font-size: 22px;
    }

    .deck {
        width: 660px;
        height: 680px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
    }

    .popup {
        width: 60%;
    }
}